:root { /* espaço de definição de variáveis */
  --color-black: #000;
  --color-white: #fff;

  --color-background: #011226;
}
  
body {
  background-color: var(--color-background);

  font-family: 'Share Tech', Arial, Helvetica, sans-serif;
  color: var(--color-white);
}
  
.hide {
  display: none;
}

ul {
  font-size: 17px;
}