.videoFrame {
  display: block;
  text-align: center;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #083c83;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1a66d1;

  transition: transform 200ms ease-in-out;
}

.btn-light:hover {
  transform: scaleX(1.03);
}


.offcanvas{
  background-color: var(--color-background);
}

.offcanvas a{
  color: steelblue;
}

.offcanvas a:hover{
  color: #1a66d1;
}

.offcanvas-header {
  background-color: steelblue;
}

.modal-content {
  background-color: var(--color-background);
}

.modal-header{
  background-color: steelblue;
}
.modal-body a{
  color: steelblue;
}

.modal-body a:hover{
  color: #1a66d1;
}